<ion-header>
  <ion-toolbar>
    <ion-title>Create Project</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Project Title</ion-label>
    <ion-input [(ngModel)]="projectTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Project Description</ion-label>
    <ion-textarea [(ngModel)]="projectDescription"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Project Repository Link</ion-label>
    <ion-input [(ngModel)]="projectRepositoryLink"></ion-input>
  </ion-item>
  <br>

  <p class="text-center">Project Requirements</p>

  <ion-list>
    <ion-item *ngFor="let entry of requirements">
      <ion-label>{{entry.text}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <div class="text-center">
    <ion-button fill="outline" (click)="submitProject();">Submit</ion-button>
  </div>

</ion-content>