<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      GitPals - {{ user == null ? 'Guest' : user.login }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="showActions();" *ngIf="user != null">
        <ion-icon slot="end" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="fetchProjects($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">

    <div class="text-center">
      <p>Total projects submitted: {{ projects.length }}</p>
      <p>Projects shown on this page: {{ projects.length <= 25 ? projects.length : 25 }}</p>
      <ion-button color="danger" fill="clear" *ngIf="user == null" (click)="auth();">Authenticate</ion-button>
    </div>

    <ion-card *ngFor="let project of projects">
      <ion-card-header>
        <ion-card-subtitle>{{ project.authorName }}</ion-card-subtitle>
        <ion-card-title>{{ project.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ project.description }}
        <hr><br>
        Requirements: {{ displayReqs(project) }}
        <br>
        Applied users: {{ project.usersSubmitted.length }}
      </ion-card-content>
        
      <ion-button color="primary" fill="clear" (click)="getProjectInfo(project);">Explore</ion-button>
        
    </ion-card>

  </div>
</ion-content>
