<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>GitPals - [[${post.title}]]</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" class="mr-2" height="30">GitPals
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7"
            aria-controls="navbarNavDropdown-7" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle font-weight-bold"
                                             id="navbarDropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true"
                                             aria-expanded="false">Forum - [[${post.title}]]</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-7">
                    <a class="dropdown-item" href="/submitProject">
                        <i class="fa fa-wrench"></i> Submit a project
                    </a>
                    <a class="dropdown-item" href="/messages">
                        <i class="fa fa-envelope-square"></i> Messages
                    </a>
                    <a class="dropdown-item" href="/signout">
                        <i class="fa fa-sign-out"></i> Log Out
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="mt">
        <div class="card">
            <div class="card-header fw-600">
                <div class="row">
                    <div class="col">
                        <span>[[${post.title}]] by <a th:href="${'/users/' + post.author}">[[${post.author}]]</a></span>
                    </div>
                    <div class="col">
                        <form th:action="@{/deleteForumPost}"
                              th:if="${userDB != null && userDB.username == post.author}" method="post"
                              style="float:right;">
                            <input type="submit" class="btn btn-danger btn-sm fw-600" value="Delete post"
                                   onclick="return confirm('Are you sure?')"/>
                            <input type="hidden" th:name="key" th:value="${post.key}"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="fw-600">
                    Description
                </div>
                <span>[[${post.content}]]</span>
                <br/><br/>

                <div class="fw-600">
                    Published on
                </div>
                <span>[[${post.timeStamp}]]</span>


                <br/>
                <hr/>
                <div class="fw-600">
                    Comment section ([[${#maps.size(post.comments)}]] comments)
                </div>

                <div class="alert alert-danger" th:if="${error}">
                    [[${error}]]
                </div>

                <span th:if="${userDB == null}"><a href="/login">Sign In</a> in order to add a comment</span>

                <div class="row mt">
                    <form class="col" th:action="@{/addCommentToPost}" method="post" th:if="${userDB != null}"
                          style="display: inline-flex;">
                        <input required type="hidden" th:name="title" th:value="*{post.title}"/>
                        <input required type="hidden" th:name="postKey" th:value="*{post.key}"/>
                        <input required type="text" class="form-control" th:name="commentText" placeholder="Comment"/>
                        <input type="submit" class="btn btn-primary btn-sm fw-600" value="Send"/>
                    </form>
                </div>

                <div class="container">
                    <ul class="mt ls-none" style="padding-left: 0;">
                        <li class="mt" th:each="comment: ${post.comments}">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col">
                                            <span class="fw-600">
                                                [[${comment.value.author}]]
                                                <span class="badge badge-primary"
                                                      th:if="${comment.value.edited}">Edited</span>
                                            </span> <br/>
                                            <span>[[${comment.value.timeStamp}]]</span>
                                        </div>
                                        <div class="col">
                                            <form th:action="@{/deleteForumPostComment}" method="post"
                                                  th:if="${userDB != null && userDB.username == comment.value.author}"
                                                  style="float:right; margin-right: 10px;">
                                                <input type="hidden" th:name="postKey" th:value="*{post.key}"/>
                                                <input type="hidden" th:name="commentKey"
                                                       th:value="*{comment.value.key}">
                                                <input type="submit" class="btn btn-danger btn-sm fw-600" value="Delete"
                                                       onclick="return confirm('Are you sure?')"/>
                                            </form>
                                            <button th:id="${'edit_' + comment.value.key}"
                                                    th:if="${userDB != null && userDB.username == comment.value.author}"
                                                    class="btn btn-primary btn-sm fw-600"
                                                    style="float:right; margin-right: 10px;"
                                                    th:onclick="changeDisplay([[${comment.key}]])">Edit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <span>[[${comment.value.text}]]</span>
                                    <div class="row mt"
                                         th:if="${userDB != null && userDB.username == comment.value.author}"
                                         th:id="${'editField_' + comment.value.key}" style="display: none;">
                                        <form class="col" th:action="@{/editForumPostComment}" method="post"
                                              style="display: inline-flex;">
                                            <input required type="text" th:name="text" class="form-control"
                                                   placeholder="New comment" th:value="*{comment.value.text}"/>
                                            <input hidden th:name="forumPostKey" th:value="*{post.key}"/>
                                            <input hidden th:name="commentKey" th:value="*{comment.value.key}"/>
                                            <input type="submit" class="btn btn-primary btn-sm fw-600" value="Save"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function changeDisplay(key) {
        document.getElementById('editField_' + key).style.display = document.getElementById('editField_' + key).style.display == 'none' ? 'block' : 'none';
    }



</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
</body>
</html>