<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>GitPals - About</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/flat-ui.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>

<section class="center-content text-center">
    <a href="/"><h1 class="wh"><img width="150" height="150" src="images/github.png"/>GitPals</h1></a>
    <div class="container">
        <h3 style="color: #2ecc71;">What is GitPals?</h3>
        <hr class="divider"/>
        <p class="wh b">GitPals helps you to find developers for your project or to take part in someone's project. Cooperative work helps you to dive in to Open-Source projects. You can create portfolio of successful projects by working in a team, what is very appreciated. It's up to you: whether to start your own project and invite people or apply to existing projects. Start taking part in Open-Source development today!</p>

        <a href="/" class="btn b btn-primary">Get Started!</a>
    </div>
</section>

</body>
</html>