<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>GitPals - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/flat-ui.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/github.png"/>
    <script src="js/flat-ui.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse navbar-lg navigation" role="navigation" style="height: 100px;">
    <div class="center">
        <h6 class="wh" th:inline="text"><b><a class="wh" target="_blank">Your dashboard</a></b></h6>
    </div>
</nav>

<section class="center-content text-center">
    <a href="/"><h1 class="wh"><img width="150" height="150" src="images/github.png"/>GitPals</h1></a>

    <div class="container">
        <div class="green-bg">
            <p class="wh fz-30"><b th:inline="text" id="userName">[[${GithubUserName}]]</b></p>
            <p class="wh" th:inline="text">[[${GithubUser.userAuthentication.details.email}]]</p>
            <u><a class="dark b" id="githubLink" th:href="${'https://github.com/' + GithubUserName}" target="_blank">Github profile</a></u>

            <hr class="divider"/>

            <h3 class="wh" style="padding: 15px;"><b>Information</b></h3>
            <form th:action="@{/updateUserCountry}" method="post">
                <div class="container" style="padding: 20px;" >
                    <span class="wh b">Country</span>
                    <input th:if="${dbUser != null}" th:name="countryInput" type="text" class="form-control input-lg" placeholder="Where are you from?" th:value="${dbUser.country}"/> <br/>

                    <span class="wh b">Some info about you</span>
                    <textarea th:if="${dbUser != null}" th:name="infoInput" type="text" class="form-control input-lg" placeholder="Some information about yourself" th:inline="text" rows="10">[[${dbUser.info}]]</textarea> <br/>

                    <input type="submit" class="btn btn-inverse b" value="Submit"/>
                </div>
            </form>

            <hr class="divider"/>

            <h3 class="wh" style="padding: 15px;"><b>Projects you have applied to</b></h3>

            <div class="pr-list text-center">
                <a th:each="project: ${appliedProjects}" target="_blank" th:href="${'/projects/' + project.title}">
                    <li class="pr-item">
                        <header><h6 class="wh pr-title"><b th:inline="text">[[${project.title}]]</b></h6></header>
                        <a class="b" th:href="${'/users/' + project.authorName}" target="_blank" th:inline="text">[[${project.authorName}]]</a>
                        <p class="wh" th:inline="text" style="margin: 10px;"><b>[[${project.requirements}]]</b></p>
                    </li>
                </a>

                <h6 th:if="${#lists.size(dbUser.appliedTo) == 0}" class="wh">You haven't applied for any project yet</h6>
            </div>

        </div>

        <div class="blue-bg">
            <h3 class="wh" style="padding: 15px;"><b>Select technologies you know</b></h3>
            <form id="technologies" th:action="@{/updateUser}" th:object="${userObject}" method="post" style="padding: 25px;">

                <div th:each="tech: ${dbUser.languagesKnows}" id="techBlock" style="text-align: left;">
                    <input class="largeCheckbox" type="checkbox" th:name="techCheckbox" th:value="${tech.key}" th:checked="${tech.value}"/><span class="wh" th:text="${tech.key}"></span>
                </div>

                <br/>

                <input type="hidden" id="userNameInput" th:field="*{username}"/>

                <input onclick="alert('Saved!');" class="btn btn-inverse b text-center" type="submit" value="Save changes"/>
            </form>

            <hr class="divider"/>

            <h3 class="wh" style="padding: 15px;"><b>Submit your project here!</b></h3>

            <a href="/submitProject" class="btn btn-inverse b" style="margin-bottom: 50px;">Let's get started!</a>
        </div>

    </div>

</section>

<script src="js/jquery.js"></script>

</body>
</html>