<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>GitPals - donate</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="images/github.png"/>
    <link rel="stylesheet" href="css/flat-ui.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

<section class="center-content text-center">
    <a href="/"><h1 class="wh"><img width="150" height="150" src="images/github.png"/>GitPals</h1></a>
    <div class="container">
        <h3 class="wh">By donating you keep GitPals alive, so thanks a lot!</h3>
        <br/>
        <h4 class="wh">Unfortunately, only cryptocurrencies available</h4>
    </div>

    <hr/>

    <div class="container">
        <h4 class="wh">Bitcoin: <a href="#/">1D2NDVjioKiMntQpkqdHF1KjMH4CjM65Fj</a></h4>
        <h4 class="wh">Litecoin: <a href="#/">LVjYXuLTtEd3N7MULrtuRoUTUdjrMFS93k</a></h4>
        <h4 class="wh">Dogecoin: <a href="#/">DMBhZiqVeR2Eywgsp39VWAZPy1cxGz42XH</a></h4>
        <h4 class="wh">Ethereum: <a href="#/">0xe9C004AE90F4fCBAF74b122732BE334c5517eacF</a></h4>
        <h4 class="wh">Ethereum Classic: <a href="#/">0xe9C004AE90F4fCBAF74b122732BE334c5517eacF</a></h4>
        <h4 class="wh">Zcash: <a href="#/">t1bCmPzEQBpNTQShhnHGTC2sFhiBrhthdFv</a></h4>
        <h4 class="wh">Stellar: <a href="#/">GBD3VKBL2OOF42D4QAOAVYZ4LOSD6ULFHD64IKF5LNNS4AM5JXMS6HN7</a></h4>
    </div>

</section>

</body>
</html>