<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:inline="text">[[${projectName}]] comments</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/flat-ui.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/github.png"/>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-lg navigation" role="navigation" style="height: 100px;">
        <div class="center">
            <h6 class="wh" th:inline="text">
                <a th:href="${'/projects/' + projectName}">[[${projectName}]]</a> comments
            </h6>
        </div>
    </nav>

    <a href="/" class="text-center">
        <h1 class="wh"><img width="150" height="150" src="/images/github.png"/>GitPals</h1>
    </a>
    <hr class="divider" />

    <h4 class="text-center wh" th:inline="text">[[${#lists.size(comments)}]] comments</h4>



    <div class="container" style="padding-bottom: 150px;">

        <h4 class="wh text-center" th:if="${user == null}">Please log in to add comments</h4>

        <form class="commentForm" th:action="@{/sendComment}" method="post" th:if="${user != null}">
            <input type="hidden" th:name="projectName" th:value="*{projectName}">
            <input type="text" th:name="text" placeholder="Comment" class="form-control">
            <input class="btn btn-block btn-lg btn-primary" type="submit" value="Send">
        </form>

        <hr class="divider"/>

        <div th:each="comment: ${comments}">
            <li class="pr-item" style="width: 100%;">
                <header class="text-center">
                    <h6>
                        <span th:inline="text" class="wh">by [[${comment.author}]]</span>
                        <span th:inline="text" class="wh">on [[${comment.timeStamp}]]</span>
                    </h6>
                </header>
                <hr/>
                <p class="wh text-center" th:inline="text" style="margin: 10px;">[[${comment.text}]]</p>
            </li>
        </div>
    </div>
</body>

</html>